@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Actor";
  src: url(../fonts/Actor-Regular.ttf);
}

body,html {
  width: 100%;
  height: 100%;
  background-color: #111111;
  color: white;
  font-family: Actor;
  overflow-x: hidden;
}

p{
  color: #6A7C94;
  line-height: 1.6;
}
